
@import './node_modules/bootstrap/scss/bootstrap.scss'
    
$colornav : #ecf0f1
$bgnav : #303952
$navactive: #2980b9
$taillepolicenav: 11px
$bgparagraph: #F8EFBA
$colorparagraph: #2C3A47

header
    background-color: $bgnav

body
    box-sizing: border-box 

header
    ul
        li
            a.nav-link
                color: $colornav
                font-size: 9px
                padding-bottom: 15px
                padding-top: 10px

#paragraph
    background-color: $bgparagraph
    color: $colorparagraph

.navbar
    padding-bottom: 0

.nav-tabs
    border-bottom: none

.nav-tabs .nav-link.active
    color: $colornav
    background-color: $navactive
    border: none
    margin-bottom: 0